data/employed_processed.csv
data/X_train.csv

# Raw PSA LFS CSVs over GitHub's 100MB limit
data/PHL-PSA-LFS-2021-2024-PUF/PHL-PSA-LFS-2021-PUF/PHL-PSA-LFS-2021-07-PUF/LFS PUF July 2021.csv
data/PHL-PSA-LFS-2021-2024-PUF/PHL-PSA-LFS-2022-PUF/PHL-PSA-LFS-2022-01-PUF/LFS PUF January 2022.csv
data/PHL-PSA-LFS-2021-2024-PUF/PHL-PSA-LFS-2023-PUF/PHL-PSA-LFS-2023-07-PUF/LFS PUF July 2023.CSV
data/PHL-PSA-LFS-2021-2024-PUF/PHL-PSA-LFS-2024-PUF/PHL-PSA-LFS-2024-01-PUF/LFS PUF January 2024.CSV
